body {
    background-color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
}

#header {
    background-color: white;
    margin-left:20px;
    /*
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: thin;
    */
}

#header h1 {
    color:#bc2131;
    font-size: 50px;
}

#header #wappen {
    float:left;
    margin-right:20px;
    width:60px;
    /*
    border-style: solid;
    border-width: thin;
    border-color:black;
    */
}

#content {
    margin-left: 20px;
}

.info {
    font-size: 11px;
}

.left {
    float:left;
    margin-right: 20px;
}

.right {
    background-color: beige;
}